* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #edeef0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.card {
    max-width: 600px;
    background-color: #fff;
    padding: 16px;
    margin: 16px;
    box-shadow: 5px 5px 15px gray;

}
.img {
    height: 100%;
    width: 100%;
}
.btn {
    padding: 8px;
}